.header{
	padding: 15px 0;
	.logo-wrap{
		padding: 0 15px;
		float: left;
		width: 190px;
	}
	.logo{
		display: block;
		font-size: 24px;
		line-height: 42px;
		font-family: 'Hermes', arial, sans-serif;
		padding-left: 60px;
		color: #000;
		position: relative;
		&::before{
			content: "";
			display: block;
			border-radius: 50%;
			width: 42px;
			height: 42px;
			background: #fadf0a;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.descr-wrap{
		float: left;
		padding: 0 15px;
		span{
			font-size: 16px;
			display: block;
			padding: 0 12px;
			line-height: 42px;
		}
	}
	.num-wrap{
		float: right;
		span{
			font-size: 30px;
			font-weight: 700;
			font-family: 'Roboto', arial, sans-serif;
			padding-left: 50px;
			display: inline-block;
			background: url(../img/header_phone.png) left center no-repeat;
		}
	}
}
.catalog{
	background: url(../img/catalog-bg.jpg) top center no-repeat;
	background-size: cover;
	&-bg{
		background: rgba(255,255,255,0.7);
		padding: 38px 0 95px;
	}
	.item{
		padding: 20px 15px;
		position: relative;
		&-inner{
			padding: 20px 23px;
			background: #fff;
		}
		&__title{
			font-weight: 700;
			font-size: 24px;
			text-align: center;
		}
		&__img{
			width: 255px;
			height: 255px;
			overflow: hidden;
			margin: 0 auto;
			img{
				display: block;
				width: 100%;
				height: auto;
				min-height: 100%;
			}
		}
		&__charact{
			font-size: 17px;
			border-bottom: 1px dashed #000;
			padding: 3px 0;
			&:last-child{
				border-bottom: none;
			}
			strong{
				font-weight: 700;
				float: left;
				display: inline-block;
			}
			span{
				float: right;
				display: inline-block;
			}
		}
		&__price{
			color: #fff;
			display: inline-block;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			line-height: 29px;
			padding: 0 15px;
			background: #ff3a39;
			border-radius: 15px;
			margin: 13px 0;
		}
		&__form{
			.form-title{
				font-size: 17px;
				color: #212121;
				display: block;
				padding-bottom: 4px;
			}
			.catalog-input{
				width: 180px;
				float: left;
				@media only screen and (max-width : 1200px) and (min-width : 1000px) {
					margin: 0 auto;
					float: none;
				}
				input{
					font-size: 18px;
					border-bottom: 2px solid #d8d8d8;
					line-height: 26px;
					padding: 0;
				}
			}
			.catalog-button{
				float: right;
				@media only screen and (max-width : 1200px) and (min-width : 1000px) {
					text-align: center;
					float: none;
					padding: 10px;
				}
			}
		}
		&__circle{
			border-radius: 50%;
			vertical-align: middle;
			text-align: center;
			background: #ededed;
			width: 72px;
			height: 72px;
			position: absolute;
			right: 25px;
			padding: 20px 8px 0;
			text-align: center;
			&--1{
				background: #ff3a39;
				top: 75px;
				color: #fff;
				span{
					font-weight: 400!important;
				}
			}
			&--2{
				top: 152px;
			}
			&--3{
				top: 232px;
			}
			span{
				font-size: 14px;
				font-weight: 700;
				display: block;
				i{
					font-weight: 400;
					display: block;
					font-style: normal;
				}
			}
		}
	}
}
.inner-site{
	.site-nav{
		font-size: 16px;
		padding: 15px 0;
		a{
			display: inline-block;
			color: #000;
			i{
				display: inline-block;
				padding: 0 2px;
			}
		}
		span{
			display: inline-block;
		}
	}
	h2{
		font-size: 48px;
		padding: 10px 0;
		font-weight: 400;
		font-family: 'Hermes', arial, sans- serif;
		text-align: left;
	}
	h3{
		font-size: 48px;
		padding: 12px 0;
		font-weight: 400;
		font-family: 'Hermes', arial, sans- serif;
	}
	h4{
		font-size: 24px;
		padding: 15px 0;
		font-weight: 400;
		font-family: 'Hermes', arial, sans- serif;
	}
	&__descr{
		font-size: 17px;
		padding: 15px 0;
	}
	.item{
		padding: 20px 15px;
		position: relative;
		&-inner{
			padding: 20px 23px;
			border: 1px solid #dcdcdc;
			border-radius: 2px;
		}
		&__title{
			font-weight: 700;
			font-size: 24px;
			text-align: center;
			letter-spacing: -0.5px;
		}
		&__img{
			width: 255px;
			height: 255px;
			overflow: hidden;
			margin: 0 auto;
			img{
				display: block;
				width: 100%;
				height: auto;
				min-height: 100%;
			}
		}
		&__charact{
			font-size: 17px;
			border-bottom: 1px dashed #000;
			padding: 3px 0;
			&:last-child{
				border-bottom: none;
			}
			strong{
				font-weight: 700;
				float: left;
				display: inline-block;
			}
			span{
				float: right;
				display: inline-block;
			}
		}
		&__price{
			color: #fff;
			display: inline-block;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			line-height: 29px;
			padding: 0 15px;
			background: #ff3a39;
			border-radius: 15px;
			margin: 13px 0;
		}
		&__form{
			.form-title{
				font-size: 17px;
				color: #212121;
				display: block;
				padding-bottom: 4px;
			}
			.catalog-input{
				width: 180px;
				float: left;
				@media only screen and (max-width : 1200px) and (min-width : 1000px) {
					margin: 0 auto;
					float: none;
				}
				input{
					font-size: 18px;
					border-bottom: 2px solid #d8d8d8;
					line-height: 26px;
					padding: 0;
				}
			}
			.catalog-button{
				float: right;
				@media only screen and (max-width : 1200px) and (min-width : 1000px) {
					text-align: center;
					float: none;
					padding: 10px;
				}
			}
		}
		&__circle{
			border-radius: 50%;
			vertical-align: middle;
			text-align: center;
			background: #ededed;
			width: 72px;
			height: 72px;
			position: absolute;
			right: 25px;
			padding: 20px 8px 0;
			text-align: center;
			&--1{
				background: #ff3a39;
				top: 75px;
				color: #fff;
				span{
					font-weight: 400!important;
				}
			}
			&--2{
				top: 152px;
			}
			&--3{
				top: 232px;
			}
			span{
				font-size: 14px;
				font-weight: 700;
				display: block;
				i{
					font-weight: 400;
					display: block;
					font-style: normal;
				}
			}
		}
	}
}
.footer{
	padding: 13px 0;
	.logo-wrap{
		padding: 0 15px;
		float: left;
		width: 190px;
	}
	.logo{
		display: block;
		font-size: 24px;
		line-height: 42px;
		font-family: 'Hermes', arial, sans-serif;
		padding-left: 60px;
		color: #000;
		position: relative;
		&::before{
			content: "";
			display: block;
			border-radius: 50%;
			width: 42px;
			height: 42px;
			background: #fadf0a;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.descr-wrap{
		float: left;
		padding: 0 15px;
		span{
			font-size: 16px;
			display: block;
			padding: 0 12px;
			line-height: 42px;
		}
	}
	.num-wrap{
		float: right;
		span{
			font-size: 30px;
			font-weight: 700;
			font-family: 'Roboto', arial, sans-serif;
			padding-left: 50px;
			display: inline-block;
			background: url(../img/header_phone.png) left center no-repeat;
		}
	}
	&__nav{
		text-align: center;
	}
	&__li{
		display: inline-block;
	}
	&__menu{
		font-size: 14px;
		color: #000;
		display: block;
		padding: 0 3px;
		line-height: 35px;
	}
	.num{
		text-align: right;
		span{
			font-size: 30px;
			font-weight: 700;
			font-family: 'Roboto', arial, sans-serif;
			padding-left: 50px;
			display: inline-block;
			background: url(../img/header_phone.png) left center no-repeat;
		}
	}
}
@media only screen and (max-width : 1200px) {
	.header .num span,
	.footer .num span{
		font-size: 25px;
	}
	.catalog,
	.inner-site{
		&-bg{
			padding: 20px 0;
		}
		.item{
			&__title{
		    font-size: 22px;
		    height: 47px;
		    line-height: 24px;
			}
			&__charact{
				font-size: 15px;
			}
		}
		
	}
}

@media only screen and (max-width : 540px) {
	.header,
	.footer{
		.num-wrap{
			float: none;
			text-align: center;
			span{
				font-size: 23px;
			}
		}
		.descr-wrap {
			float: none;
	    text-align: center;
			span {
		    padding: 10px 12px;
		    line-height: 15px;
			}
		}
		.logo-wrap{
			float: none;
			margin: 0 auto;
		}
	}
	.footer{
		.num-wrap{
			padding: 15px 0;
		}
	}
	.catalog,
	.inner-site{
		.item,
		.col-md-12{
			padding: 10px 0;
		}
		.item__form{
			.catalog-input{
				margin: 0 auto;
				float: none;
				padding: 10px 0;
				input{
					font-size: 18px;
					border-bottom: 2px solid #d8d8d8;
					line-height: 26px;
					padding: 0;
				}
			}
			.catalog-button{
				text-align: center;
				float: none;
			}
		}
	}
}

