
/* Купи
==============================*/
.dd-kupi-wrap{
	background: url(../img/kb.jpg) no-repeat top center;
	width: 100%;
	background-size: cover;
	padding-top: 36px;
	padding-bottom: 47px;
}
.dd-kupi-title{
	background: #FFE000;
	padding: 4px 17px;
	max-width:954px;
	margin: 0 auto 21px;
}
.actsia{
	background: #FF3736;
	border-radius:25px;
	padding: 9px 38px;
	text-align:center;
	display: inline-block;
	margin-bottom: 18px;
	span{
		color:#fff;
		font-size:31px;
		font-family: "RobotoBold";
	}
}
.dd-box1{
	border: 2px solid #fadf0a;
	border-radius: 5px;
	width: 258px;
	text-align:center;
	padding: 15px 15px 20px 15px;
}
.dd-box-title{
	padding-bottom: 24px;
	span{
		color:#fff;
		font-family: "RobotoBold";
		font-size:18px;
	}
}
.vpodarok{
	display:inline-block;
	color:#fff;
	background: #FF3736;
	font-family: "RobotoBold";
	padding: 6px 23px;
	border-radius:25px;
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 10px;
}
.bottom-txt{
	display:inline-block;
	font-family: "RobotoBold";
	color:#fff;
	font-size: 18px;
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

